@font-face {
font-family: "HelveticaNeueLTPro-Th";
src: url("../fonts/HelveticaNeueLTPro-Th.otf") format("openttype"),
  url("../fonts/HelveticaNeueLTPro-Th.ttf") format("truettype"),
  url("../fonts/HelveticaNeueLTPro-Th.eot") format("embedded-openttype"),
  url("../fonts/HelveticaNeueLTPro-Th.woff") format("woff"),
  url("../fonts/HelveticaNeueLTPro-Th.woff2") format("woff2"),
  url("../fonts/HelveticaNeueLTPro-Th.svg") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "HelveticaNeueLTPro-UltLt";
src: url("../fonts/HelveticaNeueLTPro-UltLt.otf") format("openttype"),
  url("../fonts/HelveticaNeueLTPro-UltLt.ttf") format("truettype"),
  url("../fonts/HelveticaNeueLTPro-UltLt.eot") format("embedded-openttype"),
  url("../fonts/HelveticaNeueLTPro-UltLt.woff") format("woff"),
  url("../fonts/HelveticaNeueLTPro-UltLt.woff2") format("woff2"),
  url("../fonts/HelveticaNeueLTPro-UltLt.svg") format("svg");
font-weight: normal;
font-style: normal;
}

:root {
  --polar-night1:#2E3440;
  --polar-night2:#3B4252;
  --polar-night3:#434C5E;
  --polar-night4:#4C566A;

  --snow-storm1:#D8DEE9;
  --snow-storm2:#E5E9F0;
  --snow-storm3:#ECEFF4;

  --frost1:#8FBCBB;
  --frost2:#88C0D0;
  --frost3:#81A1C1;
  --frost4:#5E81AC;

  --aurora1:#BF616A;
  --aurora2:#D08770;
  --aurora3:#EBCB8B;
  --aurora4:#A3BE8C;
  --aurora5:#B48EAD;

  --graphite: rgb(50, 50, 50);
}

::selection {
  background-color: var(--frost2);
  color: var(--polar-night1);
}

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 62.5%;
}

body {
  background: var(--polar-night2);
  color: var(--snow-storm2);
  font-family: "HelveticaNeueLTPro-Th", Arial, Helvetica, sans-serif;
  max-width: 1920px; 
	margin: 0 auto !important; 
	float: none !important; 
}

a {
  color: var(--snow-storm2);
  text-decoration: none; 
}

.navigation h1 {
  display: inline-block;
  padding-left: 33px;
  font-family: "HelveticaNeueLTPro-Th", Arial, Helvetica, sans-serif;
  font-size: 4.5vw;
  background: var(--polar-night2);
  color: var(--snow-storm2);
  font-weight: 400;
}

.navigation {
  display: flex;
  background: var(--polar-night2);
  padding: 20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.navigation div {
  padding-right: 20px;
  padding-top: 10px;
  margin-right: 0px;
  float: right;
  font-family: "HelveticaNeueLTPro-UltLt", Arial, Helvetica, sans-serif;
  font-size: 2.2vw;
}

.navigation div ul li {
  display: inline-block;
  margin-left: 0px;
  list-style-type: none;
}

.main-img {
  height: 820px;
  max-width: 100%;
  background-image: url("../images/fade.jpg");
  background-size: cover;
  background-position: center;
}

main {
  display:flex;
  
}

.frost-line1 {
  display: block;
  width: 1.8vw;
  background-color: var(--frost4);
}

.frost-line2 {
  display: block;
  width: 1.6vw;
  background-color: var(--frost3);
}

.frost-line3 {
  display: block;
  width: 1vw;
  background-color: var(--frost2);
}

.frost-line4 {
  display: block;
  width: 0.7vw;
  background-color: var(--frost1);
}

.main-content {
  width: 100%;
  margin-left: 3%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
}


h2 {
  font-size: 3.25vw;
  font-family: "HelveticaNeueLTPro-Th", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.about-flex {
  display: flex;
  margin-bottom: 5%;
}

.about-header {
  padding-right: 9.1%;
  border-right: solid 0.3vw var(--snow-storm2);
}

.about-content {
  display: block;
  font-size: 1.5vw;
  line-height: 1.25;
  margin-right: 5%;
  padding-left: 6%;
}

.work-flex {
  display:flex;
  margin-bottom: 5%;
}

.work-header {
  padding-right: 8%;
  border-right: solid 0.3vw var(--snow-storm2);
}


.header {
  height: 5em;
}

h1 {
  text-align: center;
  color: var(--graphite);
}

.work-content {
  width: 50%;
  margin: 0 auto;
  padding: 0.5em 0;
  background-color: var(--polar-night2);
  display: flex; 
  flex-flow: wrap-reverse;
}

.card {
  width: 80%;
  margin: 0.5em auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color:var(--snow-storm3);
  border: 2.8px solid var(--graphite);
  flex: 1 0 24%;
  box-shadow: 13px 8px 10px 0px rgb(54, 55, 70);
}

.card-image,
.description {
  width: 90%;
  margin: 0 auto;
}

.card-image {
  padding: 1.2em 1em;
} 

.description {
  padding: 1em 2em;
  color: var(--graphite)
}

.card-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.description h2 {
  padding-bottom: 0.5em;
}

.card-text {
  font-size: 1vw;
}

.contact-flex {
  display: flex;
}

.contact-header {
  display: flex;
  border-right: solid 0.3vw var(--snow-storm2);
  padding-right: 5.8%;
}

.contact-content {
  padding: 3%;
  display: flex;
}

.contact-content ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 0;
  font-size: 2.1vw;
  margin-left: 2vw;
  
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  padding: 2vw;
  width: 100%;
  height: 5vw;
  background-color: var(--polar-night3);
}

.nord-icon img {
  width: 1.66vw;
  height: 1.5vw;
  margin-left: 0.5vw;

}


@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
 

}
